body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hoge1
{
    color:#333;
}

.hoge2
{
    background-color:#fff;
}

.hoge3
{ 
}

.hoge4
{
}

.ws_test
{
}